html, body{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #FFFFFF;
}
main{
    padding-top: 20px;
}
.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.card{
    border: 3px solid #FF0000;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    border-radius: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    cursor: pointer;
}
.card-img{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}
.card-details{
    float: left;
    width: 80%;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.cards-container, message{
    margin-left: auto;
    margin-right: auto;
}
header, footer{
    padding: 10px;
    background-color: #FF0000;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
footer{
    text-align: center;
    margin-bottom: 0px;
}
#addBtn{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0px;
    text-decoration: none;
    cursor: pointer;
}
#addBtn:hover{
    background-color: #FF0000;
}
.buttons-div button{
    width: 50%;
    float: left;
    margin-left: auto;
    text-align: center;
}


